@tailwind base;
@tailwind components;
@tailwind utilities;

.selected::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #ef4444; /* Tailwind red-500 */
}
